@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    @apply font-roboto bg-blueGray-50 mx-auto overflow-x-hidden;
  }

  #root {
    @apply flex flex-col min-h-screen;
  }

  .glowMenuLink {
    text-shadow: 1px 1px 12px white;
  }

  .btn-border {
    @apply font-medium text-lg text-blue-600 rounded border-2 border-blue-600 hover:bg-blue-600 hover:text-white cursor-pointer transition duration-100;
  }

  .chevron-left {
    @apply left-1 top-2 text-blue-600 absolute cursor-pointer z-20;
  }

  .loader {
    border-top-color: rgb(37, 99, 235);
  }

  [type='email'],
  [type='text'],
  textarea,
  [type='search'],
  select,
  select[multiple],
  [type='password'] {
    @apply block w-full mt-1 rounded-lg shadow-sm focus:border-blue-500 focus:ring-blue-500;
  }

  [type='checkbox'] {
    @apply focus:ring-0 rounded shadow-sm ml-3 cursor-pointer;
  }

  [type='radio'] {
    @apply focus:ring-0 shadow-sm ml-3 cursor-pointer;
  }
}

@layer utilities {
  .btn-basic {
    @apply bg-blue-600 cursor-pointer active:bg-blue-500 text-lg rounded-md shadow-sm font-medium text-white;
  }
  .btn-disabled {
    @apply bg-blue-300 cursor-pointer text-lg rounded-md shadow-sm font-medium text-gray-600;
  }
}
